{% extends "main.html.twig"%}

{% block title%}
<title>Home page</title>
{% endblock %}
{% block content%}

    <div style="text-align:center; margin-top: 100px">
        <h2>This is {{name}}</h2>
        <h3>You can find it in {{path}}</h3>
    </div>

{% endblock%}